/* services*/
.services{
    padding: 90px 0;
}
.services__row{
    display: flex;
    column-gap: 30px;
}
.service__card{

}
.service__card-title{
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 24px;
    text-transform: uppercase;
}
.service__card-img{
    margin-bottom: 30px;
}
.service__card p{
    line-height: 2;
}


/*portfolio*/

.portfolio{
    background-color: #F1F1F1;
    padding: 90px 0;
}
.portfolio__title{
    text-align: center;
    margin-bottom: 70px;
}
.title__1{
    font-size: 34px;
    font-weight: 600;
}
.project{
    text-align: center;
}
.project + .project{
    margin-top: 90px;
}
.project__img{
    margin-bottom: 40px;

}
.project__title{
    font-size: 18px;
}
.project__title a{
    color: black;
    text-decoration: underline;
}

/*contact*/


.contacts {
    padding: 90px 0;
    text-align: center;
}

.contacts__title {
    margin-bottom: 40px;
}

.contacts__content {
    font-size: 18px;
    margin-bottom: 40px;
    max-width: 380px;
    margin:0 auto 40px;
}
.contacts__content p + p{
    margin-top: 1em;
}
.contacts__button {
    margin-bottom: 80px;
}
.btn {
    display: inline-block;
    background-color: #070707;
    padding: 7px 22px;
    border-radius: 30px;
    color: #F1F1F1;
    font-size: 18px;

    transition: background-color 0.2s ease-in, top 0.2s ease-in;

}
.btn:hover, .btn:focus{
    background-color: #323232;
}
.btn:active{
    position: relative;
    top: 1px;
    background-color: black;
}
.contacts__social {
    display: flex;
    justify-content: center;
    column-gap: 60px;
    align-items: center;
    margin-bottom: 40px;
    
}
.contacts__footer {
    color: #828282;
}

